[DATABASE]
SQLITE = database.sqlite

[SERIAL]
PORT = /dev/ttyACM0
BAUD_RATE = 115200
TIMEOUT = 1

[SERVERCHAN]
SENDKEY =

[BARK]
URL = https://api.day.app
KEY =

[WECOM]
KEY =

[MAIL]
SMTP_SERVER = mail.qq.com
SMTP_PORT = 25
ACCOUNT = example@qq.com
PASSWORD = password
MAIL_TO = example@qq.com
TLS = false

[NOTIFICATION]
CHANNELS = serverchan, mail, bark, wecom
